* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    overflow-wrap: break-word;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: rgb(248, 248, 248);
}

header i {
    padding-top: 1vw;
    font-size: 2.5vw;
}

/* green section with name and ul */
header {
    background-color: rgb(9, 63, 40);
    color:rgb(224, 219, 209);
    /* width: 100%; */
    padding-bottom: 25px;
    /* padding-right: 0.5vw; */
    /* padding-left: 0.5vw; */
}

/* button color (info-selectors and a cannot be combined*/
header a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

header a:hover {
    color: black;
    background-color: rgb(218, 218, 218);
    text-decoration: none;
    border-radius: 13px;
}

.profile-pic {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5%;
    margin-top: 1%;
    display: block;
    border-radius: 5vw;
    max-width: 100%;
    width: 35%;

}

/* the pink section */
#about-me {
    background-color: rgba(252, 189, 218, 0.87);
    box-sizing: initial;
    box-shadow: 5px 5px 5px grey;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    width: 85vw;
    position: relative;
    margin-bottom: 10px;
    border-style: inset;
    text-align: center;
}

/* the brown section */
#work-stuff {
    border-style: inset;
    background-color: rgb(145, 99, 13);
    box-sizing: initial;
    box-shadow: 5px 5px 5px grey;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    width: 85vw;
    position: relative;
    margin-bottom: 35px;
} 

/* titles in the work section */
#work-stuff h2 {
    text-align: center;
    }

    h3 {
        text-align: center;
        padding: 3%
    }

/* text description of my projects in work section */
#work-stuff p {
    margin-top: 17px;
    text-align: center;
}

.card {
    position: relative;
    width: 75vw;
    padding: 5px;
    margin: auto;
    border-radius: 3px;
    box-sizing: initial;
    border-style: outset;
    border-color: black;
    box-shadow: 5px grey;

}

.card-img {
    height: 35vw;
    object-fit: cover;
    border-radius: 2px;
}

.gitHub {
    color: black;
    text-decoration: none;
}

.nextBtn {
    float: right;
}

/* contains contact info */
footer {
    /* font-size: inherit; */
    background-color: rgb(9, 63, 40);
    color: rgb(224, 219, 209);
    padding-left: 2vw;
    padding-bottom: 2vw;
    padding-top: 2vw;
}

footer a {
    color: black;
    padding: 2vw;
    font-size: 2.5vw;
}

footer a:hover {
    color: gray;
    text-decoration: none;
}